* {
  margin: 0;
  padding: 0;
}
body {
  background: #e0e0e0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns,
.operator {
  color: #090909;
  padding: 0.5em 1.7em;
  font-size: 18px;
  border-radius: 2em;
  background: #e8e8e8;
  cursor: pointer;
  margin: 3px;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 3px 3px 10px #c5c5c5, -3px -3px 10px #ffffff;
}
.btns:active,
.operator:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
input[type="text"] {
  border: none;
  width: 50%;
  padding: 10px;
  border-radius: 1rem;
  margin-bottom: 20px;
  outline: none;
  font-size: 1.2rem;
}
.container {
  width: 500px;
}
